<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--
      Output types:
        Console - Will write out TEXT value to the console.
        SqlDatabase - Support future implementation to write TEXT value to MS Sql data store.
    -->
    <add key="OUTPUT_TYPE" value="Console"/>
    
    <!--
      Text to be written.
    -->
    <add key="TEXT" value="Hello Babe"/>
  </appSettings>
</configuration>